p {
    padding-left: 20px;
    padding-right: 20px;
}

body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url("../images/gravel.png");
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
}

.greenText {
    color: #4aaaa5;
    padding-left: 20px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  float:left;
  margin-left:10px;
}
/* Header Styling. */
/* 
Pin Header to top, allow the height to be determined by the largest element (Name or Menu)
Enforce White back ground.
*/
header {
    position:fixed;
    width: 100%;
	height: auto;
	border-bottom: 2px solid #cccccc;
    background-color: #ffffff;
    margin-bottom: 2em;
    top: 0px;
    left: 0px;
}

/* Limit banner to match the main section */
header .innerBanner {
	width: 960px;
    margin: 0 auto;
}

/* Format Name Box */
.nameBox {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 2em;
	letter-spacing: 0.04em;
	background-color: #4aaaa5;
	color: #ffffff;
    padding: 1em;
    float:left;
}

/* Position the menu container */
.menuBox {
     float:right;
}

/* Position Menu within container, and colour */
#menu {
    color: #777777;
    padding-top: 45px;
}

/*** Body Styling ***/

/* Main Container for all pagesIncludes large bottom margin to avoid content being hidden behind footer */
.mainContainer {
    width: 960px;
    overflow: auto;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 130px;
    background: white;
}

/** Styling for About me Page **/

/* Contain Image, float left, and a little padding to stand off a little from the text */
.imageContainer {
    width: 35%;
    float: left;
    padding: 1em;
}

/* Container to hold text. May be unesscary, but good for organization */
.summary {
    width: 100%;
}

/** Styling for Contact form **/

/* Typography for Form */
.contactForm {
    line-height: 1.25em;
    padding-left: 10px;
    padding-bottom: 1em;
}

/* Format input elements*/
.ContactInput {
    width: 95%;
    padding: 12px 20px;
}

/* format background of submit button */
.contactButton {
    background-color: #4aaaa5;
}

/* Styling for Portfolio Box */
.portfolioBox {
    width: 250px;
    height: auto;
    overflow:auto;
    float:left;
    margin: 10px;
}

.portfolioLabel {
    float:left;
    background-color: #4aaaa5;
    color: white;
    width:100%;
    position: relative;
    bottom: 42px;
    text-align: center;
    line-height: 10%;
}

#porfolioContainer {
    width: 75%;
    height:auto;
}

/** Footer Style **/
/* Fix Footer to bottom of browser window, */
.footerContainer {
    width: 100%;
    background: #666666;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 80px;
    border-top: 10px solid #4aaaa5;
}

/* Text cented by having it take 33% of the room and starting 33% to the right. */
#footerText {
    color:white;
    position: absolute;
    bottom: 0px;
    width: 33%;
    right: 33%;
}
/* Media Query Section */
/* `980px`, `768px` and `640px` */

@media screen and (max-width: 980px) {

/* Limit banner to match the main section */
    header .innerBanner {
        width: 700px;
    }

    /*** Body Styling ***/

    /* Main Container for all pagesIncludes large bottom margin to avoid content being hidden behind footer */
    .mainContainer {
        width: 700px;
    }

    /** Styling for About me Page **/

    /* Contain Image, float left, and a little padding to stand off a little from the text */
    .imageContainer {
        width: 25%;
    }

    /* Container to hold text. May be unesscary, but good for organization */
    .summary {
        width: 100%;
    }

    /** Styling for Contact form **/

    /* Format input elements*/
    .ContactInput {
        width: 90%;
    }

    /* Styling for Portfolio Box */
    .portfolioBox {
        width: 200px;
    }
}
@media screen and (max-width: 768px) {
    /* Limit banner to match the main section */
    header .innerBanner {
        width: 550px;
    }
    .mainContainer {
        width: 550px;
    }
    .imageContainer {
        width: 90%;
        overflow:auto;
    }
    .portfolioBox {
        width: 100%;
    }    
    #porfolioContainer {
        width: 80%;
        margin: auto;
    }
}
@media screen and (max-width: 640px) {
    /* Limit banner to match the main section */
    header .innerBanner {
        width: 100%;
    }
    .nameBox {
        width: 100%;
        height: 10px;
        text-align: center;
        padding: 1em;
    }
    .menuBox {
        content: "";
        clear: both;
        display: table;
        width: 100%;
        background-color: #666666;
        color: white;
    }
    .menuBox a{
        color: white;
    }
    #menu {
        margin-left: 38%;
        padding-top: 0px;    
    }
    .mainContainer {
        width: 500px;
    }
    .imageContainer {
        width: 90%;
        overflow:auto;
    }
    .portfolioBox {
        width: 100%;
    }    
    #porfolioContainer {
        width: 80%;
        margin: auto;
    }
}